.columns>div {
  display: flex;
  flex-direction: column;
}

.columns img {
  max-width: 100%;
  width: 100%;
  display: block;
  height: 510px;
}

.columns>div>div {
  order: 1;
}

.columns>div>.columns-img-col {
  order: 10;
}

.columns>div>.columns-img-col img {
  display: block;
}

@media (width >=900px) {
  .columns>div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
    background-color: #ebebeb;
  }

  .columns>div>div {
    flex: 1;
    order: unset;
  }
}